<div class="container">
  <div class="row">
    <div class="mx-auto col-md-8 offset-md-1 mt-5">
      <div style="text-align:center">
        <p><b>本当に退会しますか？</b></p>
        <p>
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。<br>
        </p>
      </div>
      <div style="text-align:center" class="mt-4">
      <%= link_to public_customers_mypage_path do %>
      <button class="btn btn-info">
        退会しない
      </button>
      <% end %>

      <%= link_to public_customers_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？"} do %>
      <button class="btn btn-danger">
        退会する
      </button>
      <% end %>
      </div>
    </div>
  </div>
</div>