<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1 mt-3 px-5">
      <p>商品一覧</p>
      <table class="table">
        <thead>
          <tr bgcolor="#cccccc">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <td>
              <%= item.id %>
            </td>
            <td>
              <%= link_to admin_items_show_path(item.id) do %>
              <%= item.name %>
              <% end %>
            </td>
            <td>
              <%= item.price %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>